body {
    background-image: url("Mt Bachelor.jpg");
    background-repeat: no-repeat;
}

h1 {
    font-size: 60px;
    color: white;
    margin-left: 20px;
} 

p{ 
    font-size: 40;
    color: white;
    margin-left: 20px;
}

a{
    font-size: 40;
    color: white;
    margin-left: 20px;
}